/*Selector de etiqueta*/

body{
    color:#555;
    margin: 0 auto;
    max-width: 50em;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
}

h3, strong {
  color: #333;
}

h1, h2{
    color: #000
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

a {
    color: #9c56c5;
}

/*Selector de clase*/
.pregunta {
    color: rgb(96, 66, 97);
}

.boton {
    background-color:#0a0a0a;
    color: #f0f0f0;
    border:none;
    border-radius:10px;
    margin: 6px 4px;
    width: 250px;
    transition-duration: 0.4s;
    text-align: center;
    cursor: pointer;
}

.boton1 {
    border: 2px solid #000000;
    color: black;
    background-color: white;
}

.boton1:hover{
    background-color: #000;
    color: #ffffff;

}

.cuadro_login{
    border: solid 2px;
    border-radius: 1em;
    border-color: #333;
    padding: 1em;
    max-width: 14em;
    display: grid;
    place-items: center;
    margin: auto auto
}

/*.boton1:focus {
    border: 2px solid #ffffff;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}*/

/*Selector de id*/
#jugadores {
    color:rgb(138, 172, 172);
    font-size: 24px;
}

.textinput {
    color: #3a3a3a;
    max-width: 12em;
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: none;
    padding: 0px 0px 5px 5px;
}

.loginb {
    width: 100%;
    padding: 7px;
    border: none;
    max-width: 12em;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    background-color: #6e9b4a;
    cursor: pointer;
    outline: none;
}

.titulo{
    color: #000000;
}