<%- include("includes/head.ejs", {

    username: username
    permisos: permisos
    
}) %>

<div class="container">
    <h1 class="title">La página que buscas no existe.</h1>
    <p>Error 404</p>
</div>

<%- include("includes/foot.ejs") %>